{{ template "blogPostHeader" . }}
{{ template "navTemplate" . }}
    <div id="main">
        <header>        
            <h1>{{ .Title }}</h2>
            <h3>{{ .Date }}</h4>
        </header>
        {{ .BodyHTML }}
    </div>
{{ template "blogPostFooter" . }}