{{ template "headerTemplate" . }}
{{ template "navTemplate" . }}
    <div id="main">
        {{ range .BlogPostList }}
        <div class="index"><a href="/{{ .Slug}}">
            <h2>{{ .Title }}</h2>
            <h3>{{ .Subtitle}}</h3>
            <h4>{{ .Date }}</h4>
        </a></div>
        {{ end }}
    </div>
{{ template "footerTemplate" . }}