{{ template "headerTemplate" . }}
{{ template "navTemplate" . }}
    <div id="main">
        <header>
    		<img id="face">
    		<h1>Dave Kane</h1>
    		<h2>Personal Website, Portfolio and Blog</h2>
    	</header>
    </div>
{{ template "footerTemplate" . }}